<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form >
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña actual" required>
                    </div>
                    <h1></h1>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Nueva contraseña" required>
                    </div>
                    <h1></h1>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Repetir contraseña" required>
                    </div>
                    <h1></h1>
                    <button class="btn btn-success btn-block">
                        cambiar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>