<footer class="footer">
    <div class="footer__content">

        <div class="footer__links" style="align-items: center;">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Subvenciones</a></li>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <p>&copy; 2024 Nombre de la empresa. Todos los derechos reservados.</p>
    </div>
</footer>
