
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/tabla1">tabla1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dash board</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cambiar">Cambiar Contraseña</a>
  </li>
</ul>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prueba3 of prueba2">
        <td>{{prueba3.identifier}}</td>
        <td>{{prueba3.title}}</td>
        <td>{{prueba3.BDNSregistrationDate}}</td>
        <td>{{prueba3.fundedBy}}</td>
      </tr>
     
    </tbody>
  </table>

  <div class="boton">
    <button class="button" (click)="descargarTabla()">Descargar Tabla</button>
  </div>



    