<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prueba3 of prueba2">
        <td>{{prueba3.identifier}}</td>
        <td>{{prueba3.title}}</td>
        <td>{{prueba3.BDNSregistrationDate}}</td>
      </tr>
     
    </tbody>
  </table>

  <div class="boton">
    <button class="button" (click)="descargarTabla()">Descargar Tabla</button>
  </div>

<!-- <tbody>
    <tr *ngFor="let prueba3 of prueba2">
    <th scope="row">{{prueba3.about}}</th>
    <td>{{prueba3.identifier}}</td>
    <td>{{prueba3.title}}</td>
    <th >{{prueba3.BDNSregistrationDate}}</th>
    <td>{{prueba3.basesURL}}</td>
    <td>{{prueba3.fundedBy}}</td>
    <td>{{prueba3.monetaryAmount}}</td>
    <td>{{prueba3.currency}}</td>
    <td>{{prueba3.BDNSannouncementPermalink}}</td>
    <td>{{prueba3.BDNSconcessionsPermalink}}</td>
    </tr>
    </tbody> -->

    